@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@{
    var day = DateTime.Now.Day;
    var day1 = DateTime.Now.DayOfWeek;

}
<h1>
    It is @day
 
</h1>
<br />

<p>Use this page to detail your site's privacy policy.</p>
<h1><br />day of week @day1</h1>
